<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<head>
    <title>
        StoolTool
    </title>
</head>

<body>
    <header>
        <h1>StoolTool</h1>
    </header>
<ul>

<li><a href="/get_rating_web">Inference endpoint</a></li>
<li><a href="https://gitlab.com/sprim-ventures/code/ai/stooltool/">GitLab Repository</a></li>
<li><a href="https://gitlab.com/sprim-ventures/code/ai/stooltool/-/pipelines?scope=branches&page=1">CI </Branches</a>
<li><a href="https://gitlab.com/sprim-ventures/code/ai/stooltool/-/logs">Logs</a></li>
</ul>

</body>

</html>